.Dish {
    border-bottom: 0.2rem solid #303030;
}

.Dish h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 1.1rem;
}

.Dish p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #555555;
}