.Form {
    font-family: 'BebasNeueRegular';
    font-weight: 700;
    font-style: bold;
}

.Form input {
    background-color: #222;
    border: 0;
    height: 4rem;
    font-size: 1.2rem;
    color: #fff;
}

.Form input:focus {
    background-color: #222;
}

.Form select {
    font-size: 1.2rem;
    background-color: #222;
    border: 0;
    height: 4rem;
    color: #6c757c;
}

.Form select option {
    color: #fff;
}

.Form select:focus {
    background-color: #222;
}