.ContactForm p {
    font-size: 2rem;
    text-decoration: underline;
}

.ContactForm h3 {
    font-size: 1.8rem;
    color: #cd916d;
}

.ContactForm textarea {
    font-size: 1.2rem;
    font-family: 'BebasNeueRegular';
    font-weight: 700;
    font-style: bold;
    background-color: #222;
    border: 0;
    color: #fff;
}

.ContactForm textarea:focus {
    background-color: #222;
}

@media (max-width: 1199px) {
    .ContactForm p {
        font-size: 2rem !important;
    }

    .ContactForm .Contact {
        padding-bottom: 3rem;
    }
}