.Home {
    padding-top: 10rem;
}

.Home .First {
    padding-right: 15rem;

}

.Home h1 {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 2.6rem;
}

.Home h2 {
    font-size: 2.6rem;
    color: #cd916d;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
}

.Home h3 {
    color: #545454; 
    font-size: 1.5rem;
}

.Home p {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: 700;
    font-style: bold;
    color: #fff;
    font-size: 2rem;
}

@media (max-width: 1199px) {
    .Home .First {
        padding-right: 0rem;
    }
    .Home h1 {
        font-size: 2rem;
    }
    .Home .showMore {
        margin-top: 0rem;
        padding-top: 0rem !important;
    }
    .Home {
        padding-top: 5rem;
    }
    
}