.Contact p {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.Contact h3 {
    font-size: 1.8rem;
    color: #5c4638;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 1199px) {
    .Contact p {
        font-size: 0.94rem !important;
    }
}