.Header h1 {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 1.5rem;
}


.Header h2 {
    font-size: 1.8rem;
    color: #5c4638;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
}

.Header h3 {
    color: #545454; 
    font-size: 1.5rem;
}

.Header p {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: 700;
    font-style: bold;
    color: #fff;
    font-size: 1rem;
}

.Header .row img {
    width: 100%;
}

.OtherHeader {
    background-color: #222;
}

.OtherHeader h1 {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 2.54rem;
}

.OtherHeader h3 {
    font-size: 2rem;
    color: #cd916d;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 1199px) {
    .Header .row img {
        margin-top: 2rem;
    }
}
