nav {
    border-bottom: 0.1rem solid #303030;
    font-family: 'Bebas Neue', cursive;
}

.nav-item {
    padding: 0.8rem;
    font-size: 1.2rem;
    margin-left: 3rem;
}

.active {
    color: #aa7554 !important;
}


