
.row img {
    width: 100%;
}

.Special h3 {
    font-size: 1.8rem;
    color: #5c4638;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
}

.Special h1 {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 1.5rem;
}

.Promise {
    background-color: #222;
}

.Promise img {
    width: 29px;
    height: 32px;
}

.Promise h3 {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 0rem 0rem
}

.Promise p {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: normal;
    font-style: normal;
    color: #919191;
    font-size: 0.8rem;
    padding: 0 7rem;
}


@media (max-width: 1199px) {
    .row img {
        margin-top: 2rem;
    }
    .Promise p {
        padding: 0; 
    }
    .Promise {
        padding: 0rem 0.7rem 1.5rem 0.7rem !important;
    }
}

@media (max-width: 767px) {
    .Single {
        padding: 0 9rem;
    }
}

@media (max-width: 575px) {
    .Single {
        padding: 0 5rem;
    }
}
