@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fontlibrary.org//face/bebasneueregular');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
    background-color: #181818;
}

html, body {
    width: auto!important; 
    overflow-x: hidden!important
} 

.btn {
    padding: 0.8rem 4rem;
    border-radius: 0;
    font-size: 1.2rem;
    font-family: 'Bebas Neue', cursive;
}