.Footer .firstHalf {
    border-bottom: 0.1rem solid #303030;
}

.Footer h3 {
    font-size: 1.8rem;
    color: #5c4638;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
}

.Footer .firstHalf h2 {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 2rem;
}

.Footer input {
    margin-top: 1.1rem;
    width: 100%;
    background-color: #181818;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: #8a8a8a;
    color: #fff;

}
.Footer input::placeholder {
    font-family: 'BebasNeueRegular';
    font-weight: 700;
    font-style: bold;
    font-size: 1rem;
    color: #fff;
}

.form-control:focus {
    background-color: #181818;
    box-shadow: 0 0 0 0;
    color: #fff;
}

.Footer .secondHalf a {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.Footer .secondHalf p {
    font-family: 'Libre Baskerville', 'serif';
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.Footer .secondHalf img {
    width: auto;
    height: auto;
}


@media (max-width: 1199px) {
    .Footer .btn {
        margin-top: 2rem;
    }
    .Footer .secondHalf img {
        margin-top: 0 !important;
        padding: 0 !important;
    }
    .Footer p {
        font-size: 0.94rem !important;
    }
}